@font-face {
  font-family: "iconfont"; /* Project id 2946817 */
  src: url('iconfont.woff2?t=1637201057614') format('woff2'),
       url('iconfont.woff?t=1637201057614') format('woff'),
       url('iconfont.ttf?t=1637201057614') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6e6";
}

.icon-mubiao:before {
  content: "\e6c7";
}

